---
import styles from "../styles";
import Button from "./Button.astro";
---

<section
  class={`${styles.flexCenter} ${styles.marginY} ${styles.padding} sm:flex-row flex-col bg-black-gradient-2 rounded-[20px] box-shadow`}
>
  <div class="flex flex-1 flex-col">
    <h2 class={styles.heading2}>Contact-Us!</h2>
    <p class={`${styles.paragraph} max-w-[470px] mt-5`}>
      Enter your email 
      <form action="/action_page.php">
      <input type="email" id="email" name="email">
      </form>
    <p class={`${styles.paragraph} max-w-[470px] mt-5`}>

      Enter your Message 
      <form action="/action_page.php">
      <input type="Message" id="msg" name="msg">
      </form>

    </p>
  </div>
  <div class={`${styles.flexCenter} sm:ml-10 ml-0 sm:mt-0 mt-10`}>
    <Button />
  </div>
</section>
