---
import styles from "../styles";
import { footerLinks, socialMedia } from "../constants";

import Logo from "../assets/svg/Logo.astro";
---

<footer class={`${styles.flexCenter} ${styles.boxWidth} ${styles.paddingY} ${styles.paddingX} ${styles.flexStart} flex-col`}>
  <section class={`${styles.flexStart} md:flex-row flex-col mb-8 w-full`}>
    <div class="flex-1 flex flex-col justify-start mr-10">
      <Logo height={72} />
      <p class={`${styles.paragraph} mt-4 max-w-[310px]`}>A new way to make the payments easy, reliable and secure.</p>
    </div>
    <div class="flex-[1.5] w-full flex flex-row justify-between flex-wrap md:mt-0 mt-10">
      {
        footerLinks.map((footerLink) => (
          <div class="flex flex-col ss:my-0 my-4 min-w-[150px]">
            <p class="font-poppins font-medium text-lg leading-[27px] text-white">{footerLink.title}</p>
            <ul class="list-none mt-4">
              {footerLink.links.map((link, index) => (
                <li
                  class={`font-poppins font-normal text-base leading-6 text-dimWhite hover:text-secondary cursor-pointer ${
                    index !== footerLink.links.length - 1 ? "mb-4" : "mb-0"
                  }`}
                >
                  {link.name}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </section>
  <section class="w-full flex justify-between items-center md:flex-row flex-col pt-6 border-t-[1px] border-t-[#3F3R45]">
    <p class="font-poppins font-normal text-lg leading-[27px] text-white">2022 FinEdge. All Rights Reserved.</p>
    <div class="flex flex-row md:mt-0 mt-6">
      {
        socialMedia.map((social, index) => (
          <div class={`w-[21px] h-[21px] object-contain cursor-pointer ${index !== socialMedia.length - 1 ? "mr-6" : "mr-0"}`}>
            <social.Icon />
          </div>
        ))
      }
    </div>
  </section>
</footer>
